.banner {
  position: fixed;
  top: 0;
  z-index: 110;
  width: 100%;
  transition: top ease-in-out 0.5s;

  &.hide {
    @include desktop {
      top: -200px;
    }
  }

  @include desktop {
    padding-top: 30px;
    background: linear-gradient(0deg, rgba(21, 35, 43, 0) 0%, rgba(21, 35, 43, 0.9) 60%);
  }

  > .mobile.lss {
    position: fixed;
    z-index: 2;
    left: 26px;
    top: 26px;
    display: none;

    .home & {
      display: block;
    }
  }

  &__hamburger {
    position: fixed;
    right: 26px;
    top: 26px;
    width: 56px;
    height: 56px;
    padding: 16px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include desktop {
      display: none;
    }

    div {
      width: 100%;
      background-color: #fff;
      height: 2px;
      border-radius: 100px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include mobile {
      transition: opacity ease-in-out 0.2s;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(21, 35, 43, 0.94);
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      opacity: 0;
      pointer-events: none;

      .open-navigation &{
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__toolbar {
    @include mobile {
      order: 0;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__navigation {
    display: flex;
    @include mobile {
      flex-direction: column;
      order: 1;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .logo {
      margin: 0 4.13vw;
      width: 10.9vw;
      text-align: center;

      @include mobile {
        display: none;
      }

      svg {
        width: 100%;
      }
    }
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.mobile {
      @include desktop {
        display: none;
      }
    }

    @include mobile {
      flex-direction: column;
    }

    li {
      margin: 0;

      @include mobile {
        margin-bottom: 25px !important;
      }
    }

    a {
      position: relative;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      transition: all ease-in-out 0.2s;
      font-size: 20px;

      @media screen and (max-width: 1340px){
        font-size: 16px;
      }

      @include mobile {
        font-size: 20px;

      }

      &:after {
        transition: all ease-in-out 0.2s;
        content: '';
        position: absolute;
        bottom: -10px;
        left: -15px;
        right: -15px;
        width: calc(100% + 30px);
        height: 3px;
        border-radius: 5px;
        background-color: $color-primary;
        opacity: 0;
      }

      &:hover {
        color: $color-primary;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .language-switcher {
    @include desktop {
      position: absolute;
      right: 6.63vw;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: 1340px){
        .lang-item {
          font-size: 16px;
          height: 50px;
        }

        .current-lang {
          width: 50px;
        }
      }
    }
  }

  .close-modal {
    @include desktop {
      display: none;
    }
  }

  .social-links-block {
    order: 3;
    width: 100%;
    max-width: 400px;

    @include desktop {
      display: none;
    }
  }
}

.open-navigation {
  overflow: hidden;
}
