.image-animation-block {
  margin: 80px 0;
  overflow: hidden;

  @include desktop {
    margin: 120px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;

    @include desktop {
      max-width: 90%;
      margin: 60px auto 0;
      flex-direction: row;
    }

    &.reverse{
      @include desktop {
        flex-direction: row-reverse;
      }
    }

    & > div:first-child {
      @include mobile {
        margin-bottom: 50px;
      }
    }

    &:before, &:after {
      @include desktop {
        content: '';
        position: absolute;
        background: $color-primary;
        height: 300px;
        width: 100%;
        top: 50%;
        transform: translate(-100%, -50%);
        z-index: 1;
      }
    }

    &:after {
      right: 0;
      transform: translate(-100%, -50%);
    }
    &:before {
      left: 0;
      transform: translate(100%, -50%);
    }
  }

  &__right, &__left {
    z-index: 2;

    @include desktop {
      width: 50%;
    }
  }

  h2 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
    padding: 0 25px;

    @include desktop {
      font-size: 55px;
      margin-bottom: 15px;


      br {
        display: none;
      }
    }
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 20px;

    @include desktop {
      font-size: 32px;
    }
  }

  img, video {
    width: 100%
  }
}
